@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.section_8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.section_8 h1 {
  text-align: center;
  margin-top: 80px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #00072f;
}

.sec8_cardcontent h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #17395c;
}
.sec8_cardcontent p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #555555;
}
.sec8_cards {
  margin-top: 90px;
  margin-bottom: 108px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 68px;
}
.sec8_card_inner {
  max-width: 300px;
}
.sec8_card_inner > img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
}
.sec8_cardbottom {
  display: flex;
  margin-top: -5px;
}
.sec8_cardbottom img {
  object-fit: contain;
  align-self: flex-start;
}
.sec8_cardcontent {
  padding: 38px 14px 58px 23px;
  background-color: #fff;
}
.sec8_cardcontent p {
  margin-top: 13px;
}
