@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.section_8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.section_8 h1 {
  text-align: center;
  margin-top: 80px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #00072f;
}

.sec8_cards {
  margin-top: 90px;
  margin-bottom: 108px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.sec8_card_inner {
  height: 492px;
}

.cardcontent {
  padding: 1rem;
  background: #ffffff;
  min-height: 15.313rem;
  width: 21.3rem;
}
.cardcontent p {
  margin-top: 0.813rem;
}

.cardbottom {
  display: flex;
  align-items: flex-start;
  margin-top: -36px;
  margin-left: 22px;
}

.imghead {
  margin-bottom: 0;
}
