@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.navContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  min-height: 5rem;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  /* padding-top: 1.43rem;
  padding-bottom: 1.375rem; */
}

.navlinks {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
}
.navlinks li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 1.357rem;
}

.navlinks li a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(15, 16, 10, 0.62);
}

/* .headerNavlinks {
  list-style-type: none;
  text-decoration: none;
  padding-left: 1.357rem;
}
.headerNavlinks a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(15, 16, 10, 0.62);
} */
.navlinkContainer {
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
}
.navlinksGrid {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  color: rgba(15, 16, 10, 0.62);

  padding: 1rem;
}

.navButton {
  border: 1px solid #6ec6ff;
  background: #17395c;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  color: #ffffff;

  padding: 1.31rem 2rem;
  /* margin-top: 2rem; */
  margin-right: 3.625rem;
  margin-left: 2rem;
  width: 60%;
}

.searchAndBtn {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
}
