.sec4_container {
  display: flex;
  min-height: 59rem;
}
.sec4_containerleft {
  margin-top: 100px;
  margin-bottom: 100p;
  margin-left: 7vw;
  width: 48%;
  flex-grow: 1;
}
.sec4_img1 img {
  height: 714px;
  width: 100%;
  object-fit: cover;
  padding: 2rem;
}
.sec4_img1 {
  background-image: url("../../../../public/Group_59.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
.sec4_containerright {
  max-width: 52%;
  margin-left: 2rem;
  padding-right: 97px;
  margin-top: 212px;
}

.sec4_button_img_align {
  margin-top: 102px;
  display: flex;
  align-items: center;
}

.sec4_containerright h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.0025em;
  color: #001332;
}

.sec4_containerright p {
  margin-top: 1.6875rem;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.0015em;
  color: #555555;
}

.sec4_containerright button {
  margin-right: 14px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.0015em;
  color: #001332;
}

@media screen and (max-width: 1050px) {
  .sec4_container {
    display: inline;
  }
  .sec4_containerleft {
    width: 80%;
  }
  .sec4_containerright {
    max-width: 100%;
    padding: 0;
    margin: 2rem;
  }
  .sec4_button_img_align {
    margin-top: 2rem;
  }
  .sec4_containerright h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }
  .sec4_containerright p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
}
