@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.section7_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sec7_leftpane {
  width: 50%;
  flex-grow: 1;
  padding-left: 97px;
}

.sec7_leftpane h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  width: 90%;
  color: #17395c;
}

.sec7_leftpane p {
  margin-top: 20px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  width: 90%;
  color: #555555;
}

.sec7_Buttons {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}

.sec7_outerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 37vw;
  background: #f0f2f5;
  border-radius: 8px;
  margin-bottom: 1.875rem;
}

.sec7_outerButton h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #17395c;
}

.sec7_outerButton button {
  background: #ffffff;
  border-radius: 6px;
  border: 0 white;
  padding: 0.625rem 0.875rem;
}

.sec7_rightpane {
  margin-right: 95px;
  margin-bottom: 50px;
}
.sec7_rightpane img {
  margin-top: 60px;
  width: 35vw;
  height: auto;
}

@media only screen and (max-width: 750px) {
  .section7_container {
    display: inline;
  }
  .sec7_leftpane {
    width: 100%;
  }
  .sec7_outerButton {
    width: 80%;
  }
  .sec7_rightpane {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .sec7_rightpane img {
    width: 70vw;
  }
}

@media only screen and (max-width: 450px) {
  .sec7_leftpane {
    width: 100%;
    padding-left: 50px;
  }
}
